
@{
    ViewBag.Title = "MiAction";
}

<h2>MiAction</h2>
@Html.Partial("_LoginPartial")


@**Html.ActionLink("Mi Action", "About", "Account", new {edad = 88}, new { miAtr = "Valor1", @class = "" });*****@
@**Html.ActionLink("Mi Action", "About", "Account", null, new { miAtr = "Valor1", @class = "btn btn-danger" });

@**Render Action # 17**@
@**{Html.RenderAction("Contact")}