Codigo_P1/Codigo_Clase/Solution_P1/.vs/
Codigo_P1/Codigo_Clase/Solution_P1/Solution.API.W/bin/
Codigo_P1/Codigo_Clase/Solution_P1/Solution.API.W/obj/
Codigo_P1/Codigo_Clase/Solution_P1/Solution.API/bin/
Codigo_P1/Codigo_Clase/Solution_P1/Solution.API/obj/
Codigo_P1/Codigo_Clase/Solution_P1/Solution.BS/bin/
Codigo_P1/Codigo_Clase/Solution_P1/Solution.BS/obj/
Codigo_P1/Codigo_Clase/Solution_P1/Solution.DAL.EF/bin/
Codigo_P1/Codigo_Clase/Solution_P1/Solution.DAL.EF/obj/
Codigo_P1/Codigo_Clase/Solution_P1/Solution.DAL.Repository/bin/
Codigo_P1/Codigo_Clase/Solution_P1/Solution.DAL.Repository/obj/
Codigo_P1/Codigo_Clase/Solution_P1/Solution.DAL/bin/
Codigo_P1/Codigo_Clase/Solution_P1/Solution.DAL/obj/
Codigo_P1/Codigo_Clase/Solution_P1/Solution.DO/bin/
Codigo_P1/Codigo_Clase/Solution_P1/Solution.DO/obj/
Codigo_P2/Solution_P1/Solution.API.W/obj/
Codigo_P2/Solution_P1/Solution.BS/bin/
Codigo_P2/BackEnd/BackEnd/.vs/
Codigo_P2/BackEnd/BackEnd/API.W/bin/
Codigo_P2/BackEnd/BackEnd/API.W/obj/
Codigo_P2/BackEnd/BackEnd/API/bin/
Codigo_P2/BackEnd/BackEnd/API/obj/
Codigo_P2/BackEnd/BackEnd/BS/bin/
Codigo_P2/BackEnd/BackEnd/BS/obj/
Codigo_P2/BackEnd/BackEnd/DAL.DO/bin/
Codigo_P2/BackEnd/BackEnd/DAL.DO/obj/
Codigo_P2/BackEnd/BackEnd/DAL.EF/bin/
Codigo_P2/BackEnd/BackEnd/DAL.EF/obj/
Codigo_P2/BackEnd/BackEnd/DAL.Repository/bin/
Codigo_P2/BackEnd/BackEnd/DAL.Repository/obj/
Codigo_P2/BackEnd/BackEnd/DAL/bin/
Codigo_P2/BackEnd/BackEnd/DAL/obj/
Codigo_P2/FrontEnd/FrontEnd.API/obj/
Codigo_P2/FrontEnd/FrontEnd.API/bin/
Codigo_P3/Codigo_P2/BackEnd/BackEnd/.vs/
Codigo_P3/Codigo_P2/BackEnd/BackEnd/API.W/bin/Debug/netcoreapp3.1/API.W.deps.json
Codigo_P3/Codigo_P2/BackEnd/BackEnd/API.W/bin/
Codigo_P3/Codigo_P2/BackEnd/BackEnd/API.W/obj/
Codigo_P3/Codigo_P2/BackEnd/BackEnd/API/bin/
Codigo_P3/Codigo_P2/BackEnd/BackEnd/API/obj/
Codigo_P3/Codigo_P2/BackEnd/BackEnd/BS/bin/
Codigo_P3/Codigo_P2/BackEnd/BackEnd/BS/obj/
Codigo_P3/Codigo_P2/BackEnd/BackEnd/DAL.DO/bin/
Codigo_P3/Codigo_P2/BackEnd/BackEnd/DAL.DO/obj/
Codigo_P3/Codigo_P2/BackEnd/BackEnd/DAL.EF/bin/
Codigo_P3/Codigo_P2/BackEnd/BackEnd/DAL.EF/obj/
Codigo_P3/Codigo_P2/BackEnd/BackEnd/DAL.Repository/bin/
Codigo_P3/Codigo_P2/BackEnd/BackEnd/DAL.Repository/obj/
Codigo_P3/Codigo_P2/BackEnd/BackEnd/DAL/bin/
Codigo_P3/Codigo_P2/BackEnd/BackEnd/DAL/obj/
Codigo_P3/Codigo_P2/FrontEnd/FrontEnd.API/bin/
Codigo_P3/Codigo_P2/FrontEnd/FrontEnd.API/obj/
Codigo_P3/Codigo_P2/FrontEnd/FrontEnd/.vs/
Codigo_P3/Codigo_P2/FrontEnd/FrontEnd/bin/
Codigo_P3/Codigo_P2/FrontEnd/FrontEnd/obj/
Codigo_P3/Codigo_P2/FrontEnd/FrontEndPrueba/bin/
Codigo_P3/Codigo_P2/FrontEnd/FrontEndPrueba/obj/
